@font-face {
  font-family: 'Sharp Grotesk Book 20';
  src: url('SharpGroteskBook-20.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Grotesk Medium 21';
  src: url('SharpGroteskMedium-21.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Focus styles */
:is(button, li, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: dashed;
  --outline-color: var(--color-brand-utility-200);
  --outline-offset: 0.5em;
}

:is(button, li, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(button, li, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(button, li, summary):focus:not(:focus-visible) {
  outline: none;
}
